.negative{
    color: red;
}

.mainTitle {
    font-size: 500%;
    color: #24305e;
  }
  
  .subtitle {
    color: #f76c6c;
  }

  .mainTitle,
.subtitle {
  font-family: 'Pacifico', cursive;
}

.container{
    padding-bottom: 3%;
}